<div [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput placeholder="课程标题" formControlName="title" #title />

      <mat-hint align="end"> {{ title.value.length }} / 60 </mat-hint>

      <mat-error
        *ngIf="courseTitle.errors !== null && courseTitle.errors['titleExists']"
      >
        课程名字已经被使用
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="选择类别" formControlName="category">
        <ng-container *ngFor="let category of courseCategories$ | async">
          <mat-option [value]="category.code">{{
            category.description
          }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="releaseDatePicker"
        formControlName="releasedAt"
        placeholder="发布日期"
      />

      <mat-datepicker-toggle
        matSuffix
        [for]="$any(releaseDatePicker)"
      ></mat-datepicker-toggle>

      <mat-datepicker #releaseDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    允许下载？
  </mat-checkbox>

  <div>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        placeholder="描述"
        formControlName="longDescription"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="form-val">
    {{ form.value | json }}
  </div>
</div>
