<input
  type="file"
  name="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>
<div class="file-upload">
  <mat-form-field>
    <mat-label>上传png图片</mat-label>
    <input matInput type="text" [disabled]="true" [value]="fileName" />
  </mat-form-field>
  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="handleClick(fileUpload)"
    [disabled]="isDisabled"
    style="transform: translate(10px, -12px)"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<mat-progress-bar
  class="progress-bar"
  mode="determinate"
  *ngIf="uploadProgress"
  [value]="uploadProgress"
></mat-progress-bar>
