<main class="main">
  <h3>增加课程：</h3>
  <div class="add-lessons-form" [formGroup]="form">
    <ng-container formArrayName="lessons">
      <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
        <div class="lesson-form-row" [formGroup]="lessonForm">
          <mat-form-field appearance="fill">
            <input matInput formControlName="title" placeholder="课程名" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-select formControlName="level" placehoder="课程等级">
              <mat-option value="beginner">初级</mat-option>

              <mat-option value="intermediate">中级</mat-option>

              <mat-option value="advanced">高级</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon class="delete-btn" (click)="deleteLesson(i)"
            >delete_forever</mat-icon
          >
        </div>
      </ng-container>
    </ng-container>

    <div class="lesson-form-row">
      <div>
        <!-- <mat-form-field appearance="fill">
          <input matInput placeholder="课程名" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-select placehoder="课程等级">
            <mat-option value="beginner">初级</mat-option>

            <mat-option value="intermediate">中级</mat-option>

            <mat-option value="advanced">高级</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="delete-btn">delete_forever</mat-icon> -->
      </div>
    </div>

    <button mat-mini-fab (click)="addLessons()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>
</main>
